<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title | default: "Tarpies Chow" }}</title>
		<link rel="icon" type="image/png" href="/homeMedia/icon.png">
		<style>
			html * {
				font-family: 'Courier New';
			}
		</style>
	</head>
	<body style="background-color:#FFC1FA;">
		<header>
			<h1 style="font-family:'Courier New'">{{ title | default: "Tarpies Chow" }}</h1>
		</header>
		<main>
			{{ content }}
		</main>
	</body>
</html>